@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    background-color: blueviolet;
    font-family: 'Roboto', sans-serif;
}
.container{
    
    text-align: center;
    
}
.button1{
    font-size: 30px;
    padding:17px ;
    border-radius: 15px;
    margin:4px 0px;
    border: 2px solid black;
    cursor: pointer;
}
.button{
    padding: 24px;
    border-radius: 15px;
    margin:4px 0px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 30px;
    
}
.row input{
    padding: 15px 15px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 20px;
}
